body {
  background-color: black;
  color: orange;
  font-family: sans-serif;
}

.container {
  margin: auto;
  width: 100%;
  padding: 10px;
}

.button {
  background-color: black;
  color: orange;
  border: 2px solid orange;
  border-radius: 4px;
  padding: 10px 15px;
  margin: 4px 2px;
  width: 95px;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button-sm {
  width: 73px;
}

.button-inc {
  margin: 4px 0 4px 2px;
  width: 46px;
}

.button:hover {
  background-color: orange;
  color: black;
  border: 2px solid black;
}

.button:active {
  background-color: black;
  color: orange;
  border: 2px solid black;
}

.timer-box {
  border-width: 4px;
  border-style: double;
  border-color: orange;
  width: 80%;
  max-width: 597px;
  max-height: 200px;
  margin: 0 auto;
}

.controls {

}

.controls-timer {
  display: inline-block;
  width: 20%;
  height: 100px;
  margin: auto;
  overflow: hidden;
}

.controls-options {

}

.timer-text {
  display: inline-block;
  width: 60%;
  height: 100px;
  margin: auto;
  overflow: hidden;
}

.center {
  text-align: center;
}

h2.center {
  padding-top: 17px;
}
